// Container devices
$container-xxl: 1440px;
$container-xl: 1140px;
$container-l: 960px;
$container-m: 768px;
$container-s: 540px;

@mixin responsive($device) {
  // Para resoluções a partir de 1440px
  @if $device == xxl {
    @media screen and (min-width: $container-xxl) {
      @content;
    }
  }

  // Para resoluções a partir 1140px
  @else if $device == xl {
    @media screen and (min-width: $container-xl) {
      @content;
    }
  }

  // Para resoluções a partir de 960px
  @else if $device == l {
    @media screen and (min-width: $container-l) {
      @content;
    }
  }

  // Para resoluções a partir de 768px
  @else if $device == m {
    @media screen and (min-width: $container-m) {
      @content;
    }
  }

  // Para resoluções a partir de 540px
  @else if $device == s {
    @media screen and (min-width: $container-s) {
      @content;
    }
  }

  // Para resoluções de no máximo 540px
  @else if $device == xs {
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

.container {
  max-width: $container-xxl;
  margin-inline: auto;

  padding: 4.8rem 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  @include responsive(m) {
    flex-direction: row;
    padding: 7.2rem 1.6rem;
  }

  @include responsive(l) {
    flex-direction: row;
    padding: 9.6rem 2.4rem;
  }
}

.consoles {
  height: 3.6rem;
  max-width: $container-xxl;

  margin-inline: auto;
  padding-inline: 0.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;

  img {
    width: auto;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;

    opacity: 0.6;
    transition: 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  @include responsive(m) {
    display: flex;
    padding-inline: 1.6rem;
  }

  @include responsive(l) {
    display: flex;
    padding-inline: 2.4rem;
  }
}
