// Container devices
$container-xxl: 1440px;
$container-xl: 1140px;
$container-l: 960px;
$container-m: 768px;
$container-s: 540px;

@mixin responsive($device) {
  // Para resoluções a partir de 1440px
  @if $device == xxl {
    @media screen and (min-width: $container-xxl) {
      @content;
    }
  }

  // Para resoluções a partir 1140px
  @else if $device == xl {
    @media screen and (min-width: $container-xl) {
      @content;
    }
  }

  // Para resoluções a partir de 960px
  @else if $device == l {
    @media screen and (min-width: $container-l) {
      @content;
    }
  }

  // Para resoluções a partir de 768px
  @else if $device == m {
    @media screen and (min-width: $container-m) {
      @content;
    }
  }

  // Para resoluções a partir de 540px
  @else if $device == s {
    @media screen and (min-width: $container-s) {
      @content;
    }
  }

  // Para resoluções de no máximo 540px
  @else if $device == xs {
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

.container {
  max-width: $container-xxl;
  margin-inline: auto;

  padding: 4.8rem 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  @include responsive(m) {
    flex-direction: row;
    padding: 7.2rem 1.6rem;
  }

  @include responsive(l) {
    flex-direction: row;
    padding: 9.6rem 2.4rem;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.absolute {
  position: absolute;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-item-5 {
  flex: 1 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

// CONSOLES
.consoles {
  height: 3.6rem;
  max-width: $container-xxl;

  margin-inline: auto;
  padding-inline: 0.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 0.8rem;

  img {
    width: auto;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;

    opacity: 0.6;
    transition: 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  @include responsive(m) {
    display: flex;
    padding-inline: 1.6rem;
  }

  @include responsive(l) {
    display: flex;
    padding-inline: 2.4rem;
  }
}

// DOUBLE SECTION 1
.double-section-1 {
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 76%, #000 93%),
    linear-gradient(0deg, rgba(0, 0, 0, 0) 76%, #000 93%),
    url("../../img/background-god.png") rgba(0, 0, 0, 0.164) 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.discover {
  gap: 1.6rem;

  @include responsive(m) {
    gap: 8rem;
  }

  @include responsive(m) {
    gap: 8rem;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include responsive(m) {
      gap: 2.4rem;
    }

    @include responsive(m) {
      gap: 3.6rem;
    }

    .list-item {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      margin-bottom: 1rem;

      position: relative;

      &::before {
        content: "";
        display: block;
        width: 2.4rem;
        height: 2.4rem;

        background: url("../../svg/icon-check.svg");
        background-repeat: no-repeat;
        background-size: cover;
        // background-position: top left;
      }
    }
  }
}

.gain-xp {
  flex-direction: column-reverse;
  // gap: 1.6rem;

  @include responsive(m) {
    // gap: 2.4rem;
  }

  @include responsive(m) {
    // gap: 3.6rem;
    flex-direction: row;
  }

  & > div {
    gap: 1.6rem;

    @include responsive(m) {
      gap: 2.4rem;
    }

    @include responsive(m) {
      gap: 3.6rem;
    }
  }

  .xp-content {
    gap: 1.6rem;

    background-color: $black-normal;
    border-radius: 0.8rem;
  }

  .xp-bar {
    height: 1.8rem;
    background-color: $black-light;
    position: relative;
    border-radius: 0.8rem;

    &::before {
      content: "";
      display: block;
      height: 1.2rem;
      width: 80%;
      background: $bg-btn;
      border-radius: 0.8rem;

      transform: translate(-50%, -50%);

      position: absolute;
      top: 50%;
      left: 41.5%;
    }

    &::after {
      content: "";
      display: block;
      height: 3.2rem;
      width: 3.2rem;

      position: absolute;
      top: 50%;
      left: 80%;

      filter: hue-rotate(200deg) brightness(140%);

      background: url("../../img/fire.gif");
      background-size: cover;
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }
}

.explanation-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 3.2rem;

  .list-item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    position: relative;
    font-size: 1.6rem !important;

    &:not(:last-child)::before {
      content: "";
      display: block;
      height: 5rem;
      width: 1rem;

      position: absolute;
      top: 90%;
      left: 2.54rem;
      z-index: -1;

      background: $black-light;
      @include responsive(m) {
        display: none;
      }
    }

    img {
      width: 6rem;
      padding: 2rem;
      background: $black-light;
      border-radius: 50%;
    }
  }

  @include responsive(m) {
    flex-direction: row;
    align-items: flex-start;

    position: relative;

    &::before {
      content: "";
      width: 85%;
      height: 1rem;

      position: absolute;
      top: 2.54rem;
      left: 50%;
      z-index: -1;

      transform: translateX(-50%);
      background: $black-light;
    }

    .list-item {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  @include responsive(l) {
    &::before {
      content: "";
      width: 85%;
      height: 3rem;

      position: absolute;
      top: 4.54rem;
      left: 50%;
      z-index: -1;

      transform: translateX(-50%);
      background: $black-light;
    }
    .list-item {
      img {
        width: 12rem;
        padding: 4rem;
        overflow: visible;
      }
    }
  }
}

.double-section-2 {
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 76%, #000 93%),
    linear-gradient(0deg, rgba(0, 0, 0, 0) 76%, #000 93%),
    url("../../img/background-hogwarts.png") rgba(15, 15, 15, 0) 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.make-friends {
  h2 {
    margin-bottom: 3.2rem;
  }

  .gamers {
    max-width: 84rem;
  }

  .friends-grid {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    position: relative;
    z-index: 2;
    transform: translateY(-1rem);

    img:nth-child(5),
    img:nth-child(6),
    img:nth-child(7),
    img:nth-child(8) {
      display: none;
    }

    @include responsive(m) {
      grid-template-columns: repeat(3, 1fr);
      img:nth-child(5),
      img:nth-child(6) {
        display: block;
      }
    }

    @include responsive(l) {
      grid-template-columns: repeat(4, 1fr);
      // max-width: 80%;

      img:nth-child(7),
      img:nth-child(8) {
        display: block;
      }
    }
  }

  .buttons {
    margin-top: 3.2rem;
  }
}

.card-zone {
  gap: 5.6rem;

  .card {
    width: 31.2rem;
    height: 48.3rem;
    background: url("../../img/card-dark.png");
    background-size: cover;
  }

  .buttons {
    margin-top: 3.2rem;
  }

  h2 {
    margin-bottom: 1rem;
  }
}
